<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de mis mascotas</h1>

    {% for Mascotas in lista_mascotas %}
        <ul>
            <li> id: {{Mascotas.id}}, nombre: {{Mascotas.nombre}}, direccion: {{Mascotas.direccion}}, numero_registro: {{Mascotas.numero_registro}} </li>
        </ul>
    {% endfor %}
    
</body>
</html>