<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de mis mascotas</h1>
    <a href="/mascotas/alta">Nueva Mascota</a>
    <a href="/mascotas/buscar/">Buscar Mascota</a>
    <ul>
    {% for Mascotas in lista_mascotas %}
         <li> id: {{Mascotas.id}}, nombre: {{Mascotas.nombre}}, tipo: {{Mascotas.tipo}}, direccion: {{Mascotas.direccion}}, numero_registro: {{Mascotas.numero_registro}} 
         <a href="/mascotas/borrar/{{ Mascotas.id }}">Borrar</a>
        </li>   
    {% endfor %}
    </ul>
</body>
</html>